{{- /* Generation-only selection: skip paths are relative to this directory. */ -}}
{{- skip "selection" -}}
{{- if eq .training_layout "multi_target" -}}
{{- range $name := (regexp "[a-z_]+").FindAllString "initialize_run load_data prepare_dataset train_and_tune select_best_model validate_model register_model evaluate_model model_decision training_report" -1 -}}
{{- skip (printf "src/jobs/%s.py" $name) -}}
{{- end -}}
{{- skip "src/jobs/score.py" -}}
{{- skip "src/jobs/register_monitor.py" -}}
{{- else -}}
{{- range $name := (regexp "[a-z_]+").FindAllString "initialize_models register_model_set evaluate_model_set model_set_decision models_report" -1 -}}
{{- skip (printf "src/jobs/%s.py" $name) -}}
{{- end -}}
{{- skip "src/jobs/score_models.py" -}}
{{- skip "src/jobs/register_set_monitor.py" -}}
{{- end -}}
{{- if eq .training_layout "single_model" -}}
{{- skip "src/jobs/train_model.py" -}}
{{- skip "src/jobs/select_best_model.py" -}}
{{- else if eq .training_layout "model_competition" -}}
{{- skip "src/jobs/train_and_tune.py" -}}
{{- skip "src/jobs/validate_model.py" -}}
{{- end -}}
{{- if ne .shap_enabled "true" -}}
{{- skip "src/jobs/shap_report.py" -}}
{{- end -}}
{{- if ne .evaluation_charts_enabled "true" -}}
{{- skip "src/jobs/generate_charts.py" -}}
{{- end -}}
{{- if ne .auto_rebuild_on_cdf_expiry "true" -}}
{{- skip "src/jobs/recover_predictions.py" -}}
{{- skip "src/jobs/scoring_report.py" -}}
{{- end -}}
{{- if ne .include_daily_rollout "true" -}}
{{- skip "resources/daily_rollout.job.yml" -}}
{{- skip "src/jobs/daily_rollout.py" -}}
{{- end -}}
{{- if ne .include_online_publication "true" -}}
{{- skip "resources/online_publication.job.yml" -}}
{{- skip "src/jobs/online_publication.py" -}}
{{- end -}}
{{- if and (ne .include_daily_rollout "true") (ne .include_online_publication "true") -}}
{{- skip "config/serving.yml" -}}
{{- skip "deployment/serving-requirements.txt" -}}
{{- end -}}
