resources:
  jobs:
    train:
      name: ${bundle.name}_train
      timeout_seconds: ${var.train_timeout_seconds}
      health:
        rules: ${var.train_health_rules}
      email_notifications: ${var.train_email_notifications}
      webhook_notifications: ${var.train_webhook_notifications}
      max_concurrent_runs: 1
      queue:
        enabled: true
      parameters:
        - name: lifecycle_action
          default: train
        - name: candidate_version
          default: ""
        - name: expected_champion_version
          default: ""
        - name: rejection_reason
          default: ""
        - name: promotion_receipt_json
          default: ""
{{if eq .retraining_mode "scheduled"}}
      schedule:
        quartz_cron_expression: ${var.retraining_cron_expression}
        timezone_id: ${var.retraining_timezone_id}
        pause_status: ${var.retraining_pause_status}
{{end}}
      tasks:
{{if eq .training_layout "multi_target"}}
        - &branch_task
          task_key: initialize_run
          max_retries: 0
          retry_on_timeout: false
          timeout_seconds: ${var.train_task_timeout_seconds}
          notebook_task:
            notebook_path: ../src/jobs/initialize_models.py
            base_parameters: &branch_parameters
              model_keys_json: '[{{$comma := ""}}{{range $slot := (regexp "[1-8]").FindAllString "12345678" -1}}{{if le $slot $.branch_count}}{{$comma}}{{printf "%q" (index $ (printf "branch_%s_name" $slot))}}{{$comma = ", "}}{{end}}{{end}}]'
              workflow_contract: "3"
              job_id: '{{"{{job.id}}"}}'
              job_run_id: '{{"{{job.run_id}}"}}'
              repair_count: '{{"{{job.repair_count}}"}}'
              execution_count: '{{"{{task.execution_count}}"}}'
              deployed_score_handoff: "{{.score_handoff}}"
              lifecycle_action: '{{"{{job.parameters.lifecycle_action}}"}}'
              candidate_version: '{{"{{job.parameters.candidate_version}}"}}'
              expected_champion_version: '{{"{{job.parameters.expected_champion_version}}"}}'
              rejection_reason: '{{"{{job.parameters.rejection_reason}}"}}'
              promotion_receipt_json: '{{"{{job.parameters.promotion_receipt_json}}"}}'
              config_path: ${workspace.file_path}/config/workflow.json
              experiment_name: ${workspace.root_path}/experiment
              catalog: ${var.catalog}
              input_schema: ${var.input_schema}
              output_schema: ${var.output_schema}
              metadata_schema: ${var.metadata_schema}
              resource_suffix: ${var.resource_suffix}
{{if eq .compute_mode "serverless"}}
          environment_key: skyulf
          disable_auto_optimization: true
{{else}}
          job_cluster_key: skyulf
          libraries:
            - whl: ${workspace.file_path}/dist/skyulf_core-0.9.1-py3-none-any.whl
            - pypi:
                package: mlflow==3.16.1
{{if eq .shap_enabled "true"}}            - pypi:
                package: shap==0.49.1
            - pypi:
                package: matplotlib==3.10.0
{{end}}
{{end}}
        - task_key: choose_action
          depends_on:
            - task_key: initialize_run
          max_retries: 0
          condition_task:
            op: EQUAL_TO
            left: '{{"{{tasks.initialize_run.values.training_requested}}"}}'
            right: "true"
        # BEGIN MODEL TASKS
{{range $slot := (regexp "[1-8]").FindAllString "12345678" -1}}{{if le $slot $.branch_count}}
{{$name := index $ (printf "branch_%s_name" $slot)}}
        - <<: *branch_task
          task_key: train_{{$name}}
          depends_on:
            - task_key: choose_action
              outcome: "true"
          notebook_task:
            notebook_path: ../src/jobs/train_model.py
            base_parameters:
              <<: *branch_parameters
              model_key: "{{$name}}"
              reference_json: '{{"{{tasks.initialize_run.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
{{if eq $.shap_enabled "true"}}
        - <<: *branch_task
          task_key: shap_{{$name}}
          depends_on:
            - task_key: train_{{$name}}
          notebook_task:
            notebook_path: ../src/jobs/shap_report.py
            base_parameters:
              <<: *branch_parameters
              reference_json: '{{printf "{{tasks.train_%s.values.reference_json}}" $name}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
{{end}}{{end}}{{end}}
        # END MODEL TASKS
        - <<: *branch_task
          task_key: register_model_set
          depends_on:
            # BEGIN MODEL DEPENDENCIES
{{range $slot := (regexp "[1-8]").FindAllString "12345678" -1}}{{if le $slot $.branch_count}}
            - task_key: train_{{index $ (printf "branch_%s_name" $slot)}}
{{end}}{{end}}
            # END MODEL DEPENDENCIES
          notebook_task:
            notebook_path: ../src/jobs/register_model_set.py
            base_parameters:
              <<: *branch_parameters
              reference_json: '{{"{{tasks.initialize_run.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
        - <<: *branch_task
          task_key: evaluate_model_set
          depends_on:
            - task_key: register_model_set
          notebook_task:
            notebook_path: ../src/jobs/evaluate_model_set.py
            base_parameters:
              <<: *branch_parameters
              reference_json: '{{"{{tasks.register_model_set.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
        - <<: *branch_task
          task_key: model_decision
          run_if: NONE_FAILED
          depends_on:
            - task_key: choose_action
              outcome: "false"
            - task_key: evaluate_model_set
          notebook_task:
            notebook_path: ../src/jobs/model_set_decision.py
            base_parameters:
              <<: *branch_parameters
              reference_json: '{{"{{tasks.initialize_run.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
        - <<: *branch_task
          task_key: training_report
          run_if: ALL_DONE
          depends_on:
            - task_key: model_decision
          notebook_task:
            notebook_path: ../src/jobs/models_report.py
            base_parameters:
              <<: *branch_parameters
              reference_json: '{{"{{tasks.initialize_run.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
              decision_result_state: '{{"{{tasks.model_decision.result_state}}"}}'
{{else}}
        - &lifecycle_task
          task_key: initialize_run
          max_retries: 0
          retry_on_timeout: false
          timeout_seconds: ${var.train_task_timeout_seconds}
          notebook_task:
            notebook_path: ../src/jobs/initialize_run.py
            base_parameters: &lifecycle_parameters
{{if eq .training_layout "model_competition"}}
              model_keys_json: '[{{$comma := ""}}{{range $slot := (regexp "[1-8]").FindAllString "12345678" -1}}{{if le $slot $.competition_candidate_count}}{{$comma}}{{printf "%q" (printf "%s_%s" (index $ (printf "competition_%s_model_%s" $.task $slot)) $slot)}}{{$comma = ", "}}{{end}}{{end}}]'
{{end}}
              workflow_contract: "3"
              job_id: '{{"{{job.id}}"}}'
              job_run_id: '{{"{{job.run_id}}"}}'
              repair_count: '{{"{{job.repair_count}}"}}'
              execution_count: '{{"{{task.execution_count}}"}}'
              deployed_score_handoff: "{{.score_handoff}}"
              lifecycle_action: '{{"{{job.parameters.lifecycle_action}}"}}'
              candidate_version: '{{"{{job.parameters.candidate_version}}"}}'
              expected_champion_version: '{{"{{job.parameters.expected_champion_version}}"}}'
              rejection_reason: '{{"{{job.parameters.rejection_reason}}"}}'
              promotion_receipt_json: '{{"{{job.parameters.promotion_receipt_json}}"}}'
              config_path: ${workspace.file_path}/config/workflow.json
              experiment_name: ${workspace.root_path}/experiment
              catalog: ${var.catalog}
              input_schema: ${var.input_schema}
              output_schema: ${var.output_schema}
              metadata_schema: ${var.metadata_schema}
              resource_suffix: ${var.resource_suffix}
{{if eq .compute_mode "serverless"}}
          environment_key: skyulf
          disable_auto_optimization: true
{{else}}
          job_cluster_key: skyulf
          libraries:
            - whl: ${workspace.file_path}/dist/skyulf_core-0.9.1-py3-none-any.whl
            - pypi:
                package: mlflow==3.16.1
{{if eq .shap_enabled "true"}}            - pypi:
                package: shap==0.49.1
            - pypi:
                package: matplotlib==3.10.0
{{end}}
{{end}}
        - task_key: choose_action
          depends_on:
            - task_key: initialize_run
          max_retries: 0
          condition_task:
            op: EQUAL_TO
            left: '{{"{{tasks.initialize_run.values.training_requested}}"}}'
            right: "true"
        - <<: *lifecycle_task
          task_key: load_data
          depends_on:
            - task_key: choose_action
              outcome: "true"
          notebook_task:
            notebook_path: ../src/jobs/load_data.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.initialize_run.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
        - <<: *lifecycle_task
          task_key: prepare_dataset
          depends_on:
            - task_key: load_data
          notebook_task:
            notebook_path: ../src/jobs/prepare_dataset.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.load_data.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
{{if eq .training_layout "model_competition"}}
        # BEGIN MODEL TASKS
{{range $slot := (regexp "[1-8]").FindAllString "12345678" -1}}{{if le $slot $.competition_candidate_count}}
{{$name := printf "%s_%s" (index $ (printf "competition_%s_model_%s" $.task $slot)) $slot}}
        - <<: *lifecycle_task
          task_key: train_{{$name}}
          depends_on:
            - task_key: prepare_dataset
          notebook_task:
            notebook_path: ../src/jobs/train_model.py
            base_parameters:
              <<: *lifecycle_parameters
              model_key: "{{$name}}"
              reference_json: '{{"{{tasks.prepare_dataset.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
{{if eq $.shap_enabled "true"}}
        - <<: *lifecycle_task
          task_key: shap_{{$name}}
          depends_on:
            - task_key: train_{{$name}}
          notebook_task:
            notebook_path: ../src/jobs/shap_report.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{printf "{{tasks.train_%s.values.reference_json}}" $name}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
{{end}}{{end}}{{end}}
        # END MODEL TASKS
        - <<: *lifecycle_task
          task_key: select_best_model
          depends_on:
            # BEGIN MODEL DEPENDENCIES
{{range $slot := (regexp "[1-8]").FindAllString "12345678" -1}}{{if le $slot $.competition_candidate_count}}
            - task_key: train_{{index $ (printf "competition_%s_model_%s" $.task $slot)}}_{{$slot}}
{{end}}{{end}}
            # END MODEL DEPENDENCIES
          notebook_task:
            notebook_path: ../src/jobs/select_best_model.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.prepare_dataset.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
{{else}}
        - <<: *lifecycle_task
          task_key: train_and_tune
          depends_on:
            - task_key: prepare_dataset
          notebook_task:
            notebook_path: ../src/jobs/train_and_tune.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.prepare_dataset.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
        - <<: *lifecycle_task
          task_key: validate_model
          depends_on:
            - task_key: train_and_tune
          notebook_task:
            notebook_path: ../src/jobs/validate_model.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.train_and_tune.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
{{if eq .shap_enabled "true"}}
        - <<: *lifecycle_task
          task_key: shap_model
          depends_on:
            - task_key: train_and_tune
          notebook_task:
            notebook_path: ../src/jobs/shap_report.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.train_and_tune.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
{{end}}
{{end}}
        - <<: *lifecycle_task
          task_key: register_model
          depends_on:
            - task_key: {{if eq .training_layout "model_competition"}}select_best_model{{else}}validate_model{{end}}
          notebook_task:
            notebook_path: ../src/jobs/register_model.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{if eq .training_layout "model_competition"}}{{"{{tasks.select_best_model.values.reference_json}}"}}{{else}}{{"{{tasks.validate_model.values.reference_json}}"}}{{end}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
        - <<: *lifecycle_task
          task_key: evaluate_model
          depends_on:
            - task_key: register_model
          notebook_task:
            notebook_path: ../src/jobs/evaluate_model.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.register_model.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
        - <<: *lifecycle_task
          task_key: model_decision
          run_if: NONE_FAILED
          depends_on:
            - task_key: choose_action
              outcome: "false"
            - task_key: evaluate_model
          notebook_task:
            notebook_path: ../src/jobs/model_decision.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.initialize_run.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
        - <<: *lifecycle_task
          task_key: training_report
          run_if: ALL_DONE
          depends_on:
            - task_key: model_decision
          notebook_task:
            notebook_path: ../src/jobs/training_report.py
            base_parameters:
              <<: *lifecycle_parameters
              reference_json: '{{"{{tasks.initialize_run.values.reference_json}}"}}'
              tracking_uri: '{{"{{tasks.initialize_run.values.tracking_uri}}"}}'
              decision_result_state: '{{"{{tasks.model_decision.result_state}}"}}'
{{end}}
        - task_key: scoring_requested
          depends_on:
            - task_key: training_report
          max_retries: 0
          condition_task:
            op: EQUAL_TO
            left: '{{"{{tasks.training_report.values.score_requested}}"}}'
            right: "true"
        - task_key: run_batch_scoring
          max_retries: 0
          depends_on:
            - task_key: scoring_requested
              outcome: "true"
          run_job_task:
            job_id: ${resources.jobs.score.id}
            job_parameters:
              score_model_version: ""
{{if eq .compute_mode "serverless"}}
      environments:
        - environment_key: skyulf
          spec:
            client: "4"
            dependencies:
              - ${workspace.file_path}/dist/skyulf_core-0.9.1-py3-none-any.whl
              - mlflow==3.16.1
{{if eq .shap_enabled "true"}}              - shap==0.49.1
              - matplotlib==3.10.0
{{end}}
{{else}}
      job_clusters:
        - job_cluster_key: skyulf
          new_cluster:
            spark_version: {{.spark_version}}
            node_type_id: {{.node_type_id}}
            policy_id: ${var.cluster_policy_id}
            custom_tags:
              {{.cost_tag_key}}: ${var.cost_tag_value}
            autoscale:
              min_workers: 2
              max_workers: 4
{{end}}
