resources:
  jobs:
    train:
      name: ${bundle.name}_train
      max_concurrent_runs: 1
      queue:
        enabled: true
      parameters:
        - name: lifecycle_action
          default: {{if eq .retraining_mode "monthly_paused"}}train_monthly{{else}}train{{end}}
        - name: candidate_version
          default: ""
        - name: expected_champion_version
          default: ""
        - name: rejection_reason
          default: ""
        - name: promotion_receipt_json
          default: ""
{{if eq .retraining_mode "monthly_paused"}}
      schedule:
        quartz_cron_expression: ${var.retraining_cron_expression}
        timezone_id: ${var.retraining_timezone_id}
        pause_status: PAUSED
{{end}}
      tasks:
        - task_key: train
          notebook_task:
            notebook_path: ../src/workflow.py
            base_parameters:
              lifecycle_action: '{{"{{job.parameters.lifecycle_action}}"}}'
              candidate_version: '{{"{{job.parameters.candidate_version}}"}}'
              expected_champion_version: '{{"{{job.parameters.expected_champion_version}}"}}'
              rejection_reason: '{{"{{job.parameters.rejection_reason}}"}}'
              promotion_receipt_json: '{{"{{job.parameters.promotion_receipt_json}}"}}'
              config_path: ${workspace.file_path}/config/workflow.json
              experiment_name: ${workspace.root_path}/experiment
              catalog: ${var.catalog}
              input_schema: ${var.input_schema}
              output_schema: ${var.output_schema}
              metadata_schema: ${var.metadata_schema}
              resource_suffix: ${var.resource_suffix}
{{if eq .compute_mode "serverless"}}
          environment_key: skyulf
{{else}}
          job_cluster_key: skyulf
          libraries:
            - whl: ${workspace.file_path}/dist/skyulf_core-0.9.0-py3-none-any.whl
            - pypi:
                package: mlflow==3.16.1
{{end}}
        - task_key: should_score
          depends_on:
            - task_key: train
          condition_task:
            op: EQUAL_TO
            left: '{{"{{tasks.train.values.score_requested}}"}}'
            right: "true"
        - task_key: score_after_lifecycle
          depends_on:
            - task_key: should_score
              outcome: "true"
          run_job_task:
            job_id: ${resources.jobs.score.id}
{{if eq .compute_mode "serverless"}}
      environments:
        - environment_key: skyulf
          spec:
            client: "4"
            dependencies:
              - ${workspace.file_path}/dist/skyulf_core-0.9.0-py3-none-any.whl
              - mlflow==3.16.1
{{else}}
      job_clusters:
        - job_cluster_key: skyulf
          new_cluster:
            spark_version: {{.spark_version}}
            node_type_id: {{.node_type_id}}
            policy_id: ${var.cluster_policy_id}
            custom_tags:
              {{.cost_tag_key}}: ${var.cost_tag_value}
            autoscale:
              min_workers: 2
              max_workers: 4
{{end}}
    score:
      name: ${bundle.name}_score
      max_concurrent_runs: 1
      queue:
        enabled: true
      tasks:
        - task_key: score
          notebook_task:
            notebook_path: ../src/score.py
            base_parameters:
              config_path: ${workspace.file_path}/config/workflow.json
              catalog: ${var.catalog}
              input_schema: ${var.input_schema}
              output_schema: ${var.output_schema}
              metadata_schema: ${var.metadata_schema}
              resource_suffix: ${var.resource_suffix}
{{if eq .compute_mode "serverless"}}
          environment_key: skyulf
{{else}}
          job_cluster_key: skyulf
          libraries:
            - whl: ${workspace.file_path}/dist/skyulf_core-0.9.0-py3-none-any.whl
            - pypi:
                package: mlflow==3.16.1
{{end}}
{{if eq .compute_mode "serverless"}}
      environments:
        - environment_key: skyulf
          spec:
            client: "4"
            dependencies:
              - ${workspace.file_path}/dist/skyulf_core-0.9.0-py3-none-any.whl
              - mlflow==3.16.1
{{else}}
      job_clusters:
        - job_cluster_key: skyulf
          new_cluster:
            spark_version: {{.spark_version}}
            node_type_id: {{.node_type_id}}
            policy_id: ${var.cluster_policy_id}
            custom_tags:
              {{.cost_tag_key}}: ${var.cost_tag_value}
            autoscale:
              min_workers: 2
              max_workers: 4
{{end}}
