name: Codacy Analysis

on:
  workflow_dispatch:

jobs:
  codacy-analysis-cli:
    name: Codacy Analysis CLI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@master
        with:
          project-token: ${{ secrets.CODACY_API_TOKEN }}
          verbose: true
          output: codacy_results.json
          format: json
          # tool: flake8 

      - name: Upload Analysis Results
        uses: actions/upload-artifact@v4
        with:
          name: codacy-results
          path: codacy_results.json
